{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 style="color:gold; text-align:center">History</h1>
    <br><br>
    <h3 style="text-align:center">Sales History</h3>
    {% if sales_table_stock_name|length > 0 %}
        <table style="width:100%; text-align:center">
            <tr>
                <th>Stock Name</th>
                <th>Stock Symbol</th>
                <th>Volume</th>
                <th>Share Price</th>
                <th>Date Sold</th>
            </tr>
            {% for x in range(sales_table_stock_name|length) %}
            <tr>
                <td>{{sales_table_stock_name[x]}}</td>
                <td>{{sales_table_symbols[x]}}</td>
                <td>{{sales_table_volumes[x]}}</td>
                <td>{{sales_table_stock_price[x]}}</td>
                <td>{{sales_table_date[x]}}</td>
            </tr>
            {% endfor %}
    </table>
    {% else %}
        <h4 style="color:red;text-align:center">No sales history found</h4>
    {% endif %}
    <br>
    <br>
    <h3 style="text-align:center">Buy History</h3>
    {% if buy_table_stock_name|length > 0 %}
        <table style="width:100%; text-align:center">
            <tr>
                <th>Stock Name</th>
                <th>Stock Symbol</th>
                <th>Volume</th>
                <th>Share Price</th>
                <th>Date Sold</th>
            </tr>
            {% for x in range(buy_table_stock_name|length) %}
            <tr>
                <td>{{buy_table_stock_name[x]}}</td>
                <td>{{buy_table_symbols[x]}}</td>
                <td>{{buy_table_volumes[x]}}</td>
                <td>{{buy_table_share_price[x]}}</td>
                <td>{{buy_table_date[x]}}</td>
            </tr>
            {% endfor %}
    </table>
    {% else %}
        <h4 style="color:red;text-align:center">No purchase history found</h4>
    {% endif %}


{% endblock %}
